.Main {
    width: clamp(50px, calc(100%), 100%);
    border-radius: 5px;
    transition: .3s all ease;
    overflow: hidden;
}

.Main:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.35);
}

.SoloPreview {
    width: clamp(250px, 100%, 450px);
    height: 550px;
    border-radius: 5px;
}

.SecondaryPreview {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

@media (300px <= width <= 750px) {
    .SecondaryPreview {
        width: 100%;
        height: 250px;
        border-radius: 5px;
    }
}




