.Main {
    max-width: 1350px;
    margin: 0 auto;
    padding: 14px;
}

.Main > div{
    margin: 0 auto;
}

.Poster {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;

}
.Poster > img{
    max-width: 100%;
    padding: 15px;
}

mark {
    padding: 4px 12px;
    font-weight: 600;
    letter-spacing: 1.75px;
    border-radius: 6px;
    margin-left: 6px;
    color: #272829;
    background-color: #FFF6E0;
}