.Main {
    width: clamp( 350px, calc( 100% - 28px), 1250px);
    margin: 0 auto;
}

.Main > div{
    margin: 0 auto;
}

.InfoBlock {
    padding: 14px;
}

.InfoBlock > h4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    flex-wrap: wrap;
    margin-top: 24px !important;
}
.InfoBlock > p{
    margin-top: 24px !important;
}
.InfoBlock > span{
    margin-top: 124px !important;
}

.Poster {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding: 14px 0;
}
.Poster > img{
    width: clamp(250px, calc(100%), 450px);
    max-height: 550px;
}

mark {
    padding: 4px 12px;
    font-weight: 400;
    border-radius: 6px;
    margin-left: 6px;
    color: #272829;
    background-color: #b0b0b0;
    font-size: 16px;
}


@media (250px <= width <= 750px) {

    mark {
        font-size: 12px;
    }

    .InfoBlock {
        padding: 14px 0;
    }

    .Poster {
        align-items: center;
        flex-direction: column;
        width: calc(100%);
    }

    .Poster > img{
        padding: 0;
    }
}