.Main {
    margin: 6px 0 0 6px !important;
    color: #272829 !important;
    border-color: #FFF6E0 !important;
    background-color: #FFF6E0 !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400 !important;
    letter-spacing: 1.5px !important;
}