@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


root {
  --bg-color: #FFF6E0;
  --text-color: #272829;
}

body {
  margin: 0;
  background-color: #272829;
  color: #FFF6E0;
  font-family: 'Ubuntu', sans-serif;
}

@media (prefers-color-scheme: dark) {
  root {
    --bg-color: white;
    --text-color: black;
  }
}

